body {
  background-color: pink;
}
.lapdata {
  position: absolute;
  background-color: cornsilk;
  width: 65px;
  height: 310px;
  padding: 100px;
  border-radius: 35px;
  margin: 20px;
}
.reset {
  position: absolute;
  width: 93px;
  text-align: left;
  display: inline-block;
  padding: 27px;
  border-radius: 27px;
  margin: 335px;
  height: 12px;
}
.lap {
  position: absolute;

  width: 93px;
  height: 12px;
  padding: 27px;
  margin: 330px 600px 450px 510px;
  border-radius: 27px;
}

.stop {
  position: absolute;

  width: 93px;
  height: 12px;
  padding: 27px;
  margin: 170px 600px 450px 510px;
  border-radius: 27px;
}
.start {
  position: absolute;

  width: 93px;
  height: 12px;
  padding: 27px;
  margin: 170px 450px 450px 335px;
  border-radius: 27px;
}
.elapsedtime {
  position: absolute;
  background-color: cornsilk;
  width: 411px;
  height: 12px;
  padding: 27px;
  margin: 70px 12px 12px 300px;
  border-radius: 0px;
}
.big-btn {
  width: 100px;
  height: 70px;
  background-color: aqua;
}
