body {
  background-color: pink;
}

.display {
  margin: 10px;
  padding: 10px;
  background-color: white;
}

.button {
  margin: 10px;
  padding: 10px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: black;
}

.blue {
  color: blue;
}