body {
  background-color: pink;
}

.square {
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  height: 80px;
  width: 70px;
  border-radius: 8px;
  vertical-align: top;
}

.card {
  margin: auto;
  padding: 10px;
  background-color: grey;
  width: 50px;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
}

.suit {
  margin: 5px;
  font-size: 20px;
}

.name {
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
}

.red {
  color: red;
}

.black {
  color: black;
}

.message-display {
  font-size: 20px;
  font-family: monospace;
}

.timer-display {
  font-size: 18px;
  font: monospace;
}
