body {
	background-color: lavenderblush;
	font-family: monospace;
	text-align: center;
}

h1 {
	color: darkmagenta;
}

h2 {
	color: darkmagenta;
}

.timer-container {
	color: darkmagenta;
	font-size: 1.2em;
	background-color: plum;
	border: 2px solid mediumorchid;
	width: 50vw;
	padding: 1em;
	margin: 2em auto;
}

.timer-container p {
	margin-top: 0.5em;
}

.timer {
	font-size: 1.5em;
}

.game-info-container {
	color: darkmagenta;
	font-size: 1.2em;
	background-color: plum;
	border: 2px solid mediumorchid;
	height: 2.5em;
	width: 50vw;
	padding: 1em;
	margin: 2em auto;
}

.board-container {
	background-color: plum;
	border: 2px solid mediumorchid;
	width: 50vw;
	padding: 1em;
	margin: 2em auto;
}

.square {
	padding: 10px;
	margin: 10px;
	background-color: darkmagenta;
	display: inline-block;
	height: 15px;
	width: 15px;
	vertical-align: top;
	text-align: center;
}

.open-card {
	background-color: lavenderblush;
}

.red {
	color: crimson;
}
.black {
	color: darkslategrey;
}
