body {
  background-color: white;
}

.wrapper {
  width: 500px;
  /* height: 200px; */
  overflow: hidden; /* add this to contain floated children */
  text-align: center;
  vertical-align: middle;
  margin-left: -6px;
  flex-wrap: nowrap;
  flex-direction: column;
}
.first {
  /* margin: 10px; */
  width: 30%;
  /* height: 200px; */
  background-color: lightgray;
  float: left; /* add this */
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 10px;
}
.second {
  width: 70%;
  height: 200px;
  float: left; /* add this */
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.top {
  margin-right: 7%;
  margin-left: 7%;
  margin-bottom: 5px;
  height: 80%;
  background-color: lightgray;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 20px;
  /* vertical align */
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 33%;
}

.button {
  height: 60%;
  width: 30%;
  margin: 10px;
  border-radius: 8px;
  border-style: none;
  font-size: 13px;
  background-color: antiquewhite;
}

.lap {
  padding: 5px;
}

.split {
  color: green;
  font-size: 12px;
}

.header {
  margin: 10px;
  padding: 10px;
  width: 460px;
  border-radius: 8px;
  border-style: dotted;
  border-color: gray;
  text-align: center;
  margin-bottom: 30px;
}

.message {
  font-size: 10px;
  color: red;
}
